{% extends "layout.html" %}
{% block el_contenido %}
    <div class="content-section">
        <form action="" method="POST">
         <!-- la variable formulario está definida en flaskBlog.py --> 
            {{ formulario.hidden_tag()  }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ingreso de usuario</legend>
                
                <div class="form-group">
                        <!-- el "class" que aparece abajo es un css de Bootstrap -->
                        {{ formulario.email.label(class="form-control-label")  }}
                        {% if formulario.email.errors %}
                        {{ formulario.email(class="form-control  form-control-lg is-invalid")  }} 
                        <div class="invalid-feedback">
                        {% for error in formulario.email.errors %}
                            <span>{{ error }}</span>                    
                        {%  endfor %}
                        </div> 
                    {% else %} 
                    {{ formulario.email(class="form-control  form-control-lg")  }}
                    {% endif %}
                    </div>

                    <div class="form-group">
                            <!-- el "class" que aparece abajo es un css de Bootstrap -->
                            {{ formulario.password.label(class="form-control-label")  }}
                            {% if formulario.password.errors %}
                        {{ formulario.password(class="form-control  form-control-lg is-invalid")  }} 
                        <div class="invalid-feedback">
                        {% for error in formulario.password.errors %}
                            <span>{{ error }}</span>                    
                        {%  endfor %}
                        </div> 
                    {% else %} 
                    {{ formulario.password(class="form-control  form-control-lg")  }}
                    {% endif %}
                        </div>   
                        
                        <div class="form-check">
                            {{ formulario.remember(class="form-check-input")}}
                            {{ formulario.remember.label(class="form-check-label")}}
                        </div>
                
            </fieldset>

            <div class="form-group">
                    {{formulario.submit(class="btn btn-outline-info")   }}
                </div>

                <small class="text-muted ml-2">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </small>

            <div class="border-top pt-3">
                <small class="text-muted">
                    ¿No estás registrado aun?
                    <a href="{{ url_for('funcion_del_registro')  }}" class="ml-2">Create una cuenta</a>
                </small>
            </div>
        </form>
    </div>
{% endblock el_contenido %}